/*  =============================================================================
    HEADER
    ========================================================================== */

/* Fixed Topbar Navigation */
body.navbar-fixed-top { padding-top: 68px; /* More than 28+40px */ }
body.admin-bar .navbar-fixed-top { top: 28px; /* Equals admin bar height */ }

#page-header {
    .title {
        text-shadow: 0 -2px 0 #ccc, 0 2px 3px #fff;
    }
    .subtitle {
        text-shadow: 0 -1px 0 #ccc, 0 1px 0 #fff;
    }
}

/*  =============================================================================
    CONTENT
    ========================================================================== */

/*  =============================================================================
    FOOTER
    ========================================================================== */

/*  =============================================================================
    WordPress Generated Classes
    See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
    ========================================================================== */

.alignnone { }
.aligncenter, div.aligncenter { }
.alignright { }
.alignleft { }
.aligncenter { }

a img.alignright { }
a img.alignnone { }
a img.alignleft { }
a img.aligncenter { }

.wp-caption { }
.wp-caption.alignnone { }
.wp-caption.alignleft { }
.wp-caption.alignright { }
.wp-caption img { }
.wp-caption p.wp-caption-text { }