/*  =============================================================================
    Base stylesheet
    ========================================================================== */

body.admin-bar .navbar-fixed-top {
	top: 28px; /* Equals admin bar height */
}

.form-search {
	label.hide-text { display: none; }
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}