/*  =============================================================================
    Theme:          waht    TODO Put your theme name here
    Author:         a.h     TODO Put your name here
    Description:    Main theme Stylesheet
    ========================================================================== */

/****** Import scripts ******/

// Import WP Generated classes styling
@import 'wp.less';

// TODO This is a demo styling for the waht package. Feel free to remove it or reuse its code!
@import 'waht.less';

// Import media queries
@import "media-queries.less";