/*  =============================================================================
    Theme:          waht    TODO Put your theme name here
    Author:         a.h     TODO Put your name here
    Description:    Login Page Stylesheet
    ========================================================================== */
/* TODO Add own style */
body.login {
  background: #ffffff url('../img/white_paper_texture_background_seamless_pattern.jpg') top left repeat;
  text-shadow: 0 -1px 0 #dddddd, 0 1px 0 #ffffff;
}
body.login h1 a {
  background: transparent url('../img/logo-login.png') top center no-repeat;
}
body.login .message {
  text-shadow: 0 -1px 0 #eeeeee, 0 1px 0 #ffffff;
}
body.login form {
  -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5), inset 0px 1px 0px 0px rgba(221, 221, 221, 0.5);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5), inset 0px 1px 0px 0px rgba(221, 221, 221, 0.5);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5) inset 0px 1px 0px 0px rgba(221, 221, 221, 0.5);
  text-shadow: 0 -1px 0 #f7f7f7, 0 1px 0 #ffffff;
}
body.login form label {
  color: #007aa0;
}
